//////////////////////////////

/// background
$bgLight: #f0f2f5;
$bgDark: #18191a;

// hover bg
$gray100: #eeeeee;
$gray500: #6b6b6b5e;

// text color
$textWhite: white;
$textBlack: black;

// scroll
$scrollDarkGray: rgba(0, 0, 0, 0.1);
$scrollLightGray: rgba(165, 165, 165, 0.248);
