@import '../../../color/color';

.theme-dark {
   &::placeholder {
      color: rgba(255, 255, 255, 0.681);
      font-style: italic;
   }
   background-color: $bgDark !important;
}
.theme-light {
   background-color: $bgLight !important;
   &::placeholder {
      color: rgba(0, 0, 0, 0.623);
      font-style: italic;
   }
   & .posts {
   }
}
.content-header {
   padding: 20px 30px !important;
   height: auto !important;
   border-radius: 8px;
}
.posts {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
@media screen and (max-width: 1261px) {
   .layout-wrap {
      width: clamp(200px, 100%, 920px) !important;
      & > section {
         margin-right: 300px;
      }
   }
}
@media screen and (max-width: 931px) {
   .layout-wrap {
      width: clamp(200px, 100%, 620px) !important;
      & > section {
         margin: 0 auto;
         padding: 0;
      }
   }
}
