.wrapper {
   padding: 1rem 1.5rem;
   max-width: 800px;
   margin: 0 auto;
   border-radius: 0.5rem;
}
.form-main {
   .input-field {
      margin-bottom: 1rem;
      & > div {
         justify-content: space-between;
      }
   }
   .center {
      & > div {
         justify-content: center;
         & > div > div > div {
            display: flex;
            justify-content: center;
            gap: 2rem;
         }
      }
   }
}
.desc {
   & div {
      font-size: 1.2rem;
   }
}
.btn {
   display: flex;
   justify-content: center;
   gap: 1rem;
}
