.images-wrap {
   max-width: 1100px;
   margin: 0 auto;

   & > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 7px;
      padding: 0 10px;
      & > div {
         width: clamp(150px, 100%, 300px);
         height: 200px;
      }
      & img {
         width: 100% !important;
         height: 100% !important;
         object-fit: cover;
      }
   }
}
@media screen and (max-width: 1000px) {
}
