.login-wrap {
   height: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
}
.login-form {
   width: clamp(150px, 100%, 500px);
   height: auto;
   margin: 0 20px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 8px;
}
.input-field {
   & > div {
      justify-content: space-between;
   }
}
.input-link {
   & a {
      font-size: 15px;
      font-weight: 600;
   }
}
.center {
   & > div {
      justify-content: center;
      & button {
         width: 90%;
      }
   }
}
@media screen and (max-height: 916px) {
   .login-wrap {
      height: auto;
      padding: 20px 0;
   }
}
@media screen and (max-width: 576px) {
   .input-field {
      & > div {
         & button {
            width: 70%;
            font-weight: 600;
         }
      }
   }
   .button-signup {
      & > div {
         justify-content: center;
         & button {
            width: 100%;
         }
      }
   }
}
