.slider-bar {
   min-width: 250px;
   position: fixed;
   height: 100vh;
   margin-top: 55px;
   top: 0;
   left: 0;
   background-color: white;
}
.menu-wrap {
   overflow-y: scroll;
   max-height: calc(100vh - 55px);
   padding-bottom: 1rem;
   &::-webkit-scrollbar {
      width: 5px;
   }
   &::-webkit-scrollbar-track {
      display: none;
   }
   &::-webkit-scrollbar-thumb {
      display: none;
      background-image: linear-gradient(-45deg, #679cf9, #9b85ff);
      border-radius: 50px;
   }
   &:hover::-webkit-scrollbar-thumb {
      display: block;
   }
}
.container {
   margin-left: 250px;
   min-height: calc(100vh - 55px);
}
.content {
   max-width: 700px;
   margin: 0 auto;
   padding: 2rem 0;
}
